body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.quiz-question {
    max-width: 600px;
    margin: 10px;
    padding: 15px;
    border-left: 8px solid #00ff00; /* Green color */
    background-color: #f8fffe;
    font-weight: bold;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.quotation {
    margin-top: 10px;
    font-style: italic;
}
